# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Virtual environments
.env/
.venv/
venv/

# System files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Training data & models
checkpoints/
logs/
data/
*.pt
*.ckpt

# GUI images
kaissa_gui/Images/
